    
body{
    background-color: #9cd4f7;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #fcfcfc;
}
img {
    border-radius: 15px;
    object-fit: cover;
    width:100%;
    height:100%;
    max-width: 100%;
}