footer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 100px;
    background-color: #2f9ec6;
    border-radius: 15px;
    padding: 1px 15px;
}
.fila {
    display: flex;
    flex-direction: row;
}
.objeto-ft {
    margin: 5px;
}