$bgcol: #fcfcfc;
$bgcol2:#cdeafc;
@mixin ObjetoMg {
    margin: 5px;
}
@mixin Flex-use($type,$direction){
    display: $type;
    flex-direction: $direction;
}
@mixin Bg-style($background){
    background-color: $background;
    border-radius: 15px;
}

nav {
    @include Flex-use(flex,row);
    justify-content: space-between;
    height: 100px;
    @include Bg-style($bgcol);
    padding: 1px 15px;
}
.banner {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    object-fit: contain;
}
.fila {
    @include Flex-use(flex,row);
}
.objeto-nav.b {
    @include ObjetoMg();
    @include Bg-style($bgcol2);
    border-radius: 15px;
}
.objeto-nav.c {
    @include ObjetoMg();
    transition: transform 0.3s ease;
}
.objeto-nav.c:hover {
    transform: scale(1.1);
}
nav img {
    height: 100%;
}