@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body{
    background-color: #cdf5fc;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

/*-------------------------------------------INICIO HEADER-------------------------------------------*/
nav{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #e9fbfd;
    border-radius: 15px;
}
.innav{
    display: flex;
    align-items: center;
}
.nav-Logo{
    width: 220px;
}
.nav-Titulo{
    height: 100px;
}
.nav-Boton {
    height: 75px;
    transition: transform 0.3s ease;
}
.nav-Boton:hover {
    transform: scale(1.1);
}
.banner{
    width: 100%;
}
/*-------------------------------------------INICIO  MAIN-------------------------------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.main-Box1 {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 1fr;
    gap: 10px;
    background-color: #e9fbfd;
    border-radius: 15px;
}
.main-inbox1{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.box1-media {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 350px;
}

.box1-media img, .box1-media video {
    height: 83%;
    object-fit: contain;
    border-radius: 15px;

}

/*-------------------------------------------INICIO  FOOTER-------------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}
.footer-Box1 {
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
    grid-template-rows: repeat(3,1fr);
    grid-template-rows: 50px 50px 50px;
    gap: 2px;
    background-color: #e9fbfd;
    border-radius: 15px;
}
.footer-inbox1{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
