@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body{
    background-color: #cdf5fc;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #001f61
}

/*-------------------------------------------INICIO HEADER-------------------------------------------*/
nav{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #e9fbfd;
    border-radius: 15px;
}
.innav{
    display: flex;
    align-items: center;
}
.nav-Logo{
    width: 220px;
}
.nav-Titulo{
    height: 100px;
}
.nav-Boton {
    height: 75px;
    transition: transform 0.3s ease;
}
.nav-Boton:hover {
    transform: scale(1.1);
}
.banner{
    width: 100%;
}
/*-------------------------------------------INICIO  MAIN-------------------------------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}
/*-----------INICIO-----------*/
.main-Box1 {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 1fr;
    gap: 10px;
    background-color: #e9fbfd;
    border-radius: 15px;
}
.main-Box2 {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    gap: 10px;
    background-color: #8bd4dd;
    border-radius: 15px;
}
.main-inbox1{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;   
}
.main-inbox1.a {
    background-color: #e9fbfd;
    border-radius: 15px;

}
.main-inbox1.b{
    flex-direction: row;
    margin: 39; 
}
.main-inbox1.c {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
  }

.box1-media {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 350px;
}
.box1-media.b {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70px;
}

.box1-media img, .box1-media video {
    height: 83%;
    object-fit: contain;
    border-radius: 15px;

}
/*-----------NOSOTROS-----------*/
.main4-bigbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 15px;
    margin: 10px;
}
.main4-bigbox.b {
    justify-content: center;
    background-color: #2da8c7;
}
.main4-bigbox.c {   
    background-color: #e9fbfd;
    justify-content: center;
    box-sizing: border-box;
}
.main4-bigbox.d { 
    justify-content: center;
    box-sizing: border-box;
    border: 4px solid;
}

.main4-box1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e9fbfd;
    border-radius: 15px;
    flex: 1;
    border: 4px solid ;
    justify-content: space-between;
}
.main4-box1-b {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    flex: 1;
    justify-content: space-between;
}

.main4-box1.central-box {
    flex: 2;
    border: 4px solid;
    margin: 10px;
}
.main4-box1.central-box.b{
    flex: 1;
}
.main4-box1-media{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100px;
}
.main4-box1-media img, .main4-box1-media video {
    height: 95%;
    object-fit: contain;

}
.main4-textbox {
    align-items: center;
    border: 4px solid;
    border-radius: 15px;
    gap: 100px;
    margin: 100px;
    background-color: #e9fbfd;
    padding: 20px;
}
#mensaje {
    font-size: 20px;
    width: 300px;
    height: 100px;
}

/*-------------------------------------------INICIO  FOOTER-------------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}
.footer-Box1 {
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
    grid-template-rows: repeat(3,1fr);
    grid-template-rows: 50px 50px 50px;
    gap: 2px;
    background-color: #e9fbfd;
    border-radius: 15px;
    
}
.footer-Box2 {
    display: grid;
    grid-template-columns:  33% 34% 33%;
    grid-template-rows: repeat(3,1fr);
    grid-template-rows: 50px 50px 50px;
    gap: 2px;
    background-color: #e9fbfd;
    border-radius: 15px;
    
}
.footer-inbox1{
    display: flex;
    flex-direction: column;
    align-items:center;    
}
.footer-inbox1.b {
    align-items: normal;
}
