/*------------------------------------------------------------------------------------------*/
body {
  background-image: url(Resources/longbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
img {
  height: 100%;
  border-radius: 15px;
}

header {
  background-color: #fcfcfc;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
  width: 100%;
  z-index: 100;
  align-items: center;
}

nav {
  background-color: #fcfcfc;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
  width: 100%;
  z-index: 100;
}

.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#navbarToggleExternalContent {
  max-height: 100px;
  overflow: hidden;
}

.navbar-toggler {
  -o-object-fit: cover;
     object-fit: cover;
  height: 88px;
  transition: transform 0.3s ease;
}

.navbar-toggler:hover {
  transform: scale(1.1);
}

.collapse {
  background-color: #fcfcfc;
  justify-content: center;
}

.fila {
  display: flex;
  flex-direction: row;
  height: 80px;
  padding-bottom: 10px;
}

.fila img {
  height: 100%;
}

.objeto-nav.b {
  margin: 5px;
  background-color: #cdeafc;
  border-radius: 15px;
  border-radius: 50px;
}

.objeto-nav.c {
  margin: 5px;
  transition: transform 0.3s ease;
}

.objeto-nav.c:hover {
  transform: scale(1.1);
}

@keyframes scroll2 {
  from {
    opacity: 1;
    scale: 100%;
  }
  to {
    opacity: 0;
    scale: 100%;
  }
}
.scroll-image {
  margin-top: 110px;
  width: 100%;
  view-timeline: --image;
  view-timeline: block;
  animation-timeline: --image;
  animation-name: scroll2;
  animation-range: cover 75%;
  animation-fill-mode: both;
}

.scroll-image2 {
  margin-top: 100px;
  width: 100%;
  view-timeline: --image;
  view-timeline: block;
  animation-timeline: --image;
  animation-name: scroll2;
  animation-range: cover 75%;
  animation-fill-mode: both;
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
@keyframes goup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200px);
  }
}
.box_a {
  background-color: #2bb3ed;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  justify-content: center;
  text-align: justify;
  background-image: url(Resources/F6Zv1s4XoAAiE6D.jpg);
  background-position: bottom;
  background-size: cover;
  flex-direction: row;
  justify-content: flex-start;
  color: #fcfcfc;
  margin-top: 10px;
  height: 300px;
  width: 100%;
  view-timeline: --image;
  view-timeline: block;
  animation-timeline: --image;
  animation-name: goup;
  animation-range: cover 70%;
  animation-fill-mode: both;
}

.box_s {
  background-color: #2bb3ed;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  justify-content: center;
  text-align: justify;
  background-image: url(Resources/estadio2.jpeg);
  background-position: center;
  background-size: cover;
  flex-direction: row;
  justify-content: flex-start;
  color: #fcfcfc;
  margin-top: 10px;
  height: 320px;
  width: 1051px;
  view-timeline: --image;
  view-timeline: block;
  animation-timeline: --image;
  animation-name: goup;
  animation-range: cover 70%;
  animation-fill-mode: both;
}

.lbox1 {
  background-color: #2f6a9d;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  justify-content: center;
  text-align: justify;
  width: 420px;
  margin-top: 10px;
  view-timeline: --image;
  view-timeline: block;
  animation-timeline: --image;
  animation-name: goup;
  animation-range: cover 80%;
  animation-fill-mode: both;
}

.lbox1.b {
  margin-left: 150px;
}

.lbox2 {
  margin-top: 10px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  justify-content: center;
  text-align: justify;
  justify-content: flex-start;
  width: 900px;
  align-items: center;
  padding: 5px;
  view-timeline: --image;
  view-timeline: block;
  animation-timeline: --image;
  animation-name: goup;
  animation-range: cover 80%;
  animation-fill-mode: both;
}

#carousel1 {
  height: 300px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-item img {
  height: 200px;
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.d-block {
  align-items: center;
}

.position-relative {
  margin-top: 20px;
  padding: 5px;
  background-color: #fcfcfc;
  border-radius: 5px;
  color: #293f53;
}

td {
  width: 10px;
}

td img {
  height: 81px;
}

.flexmap {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  background-color: #2f6a9d;
  border-radius: 15px;
  padding: 10px;
  justify-content: center;
  gap: 30px;
}

.box1.d {
  background-color: #fcfcfc;
  justify-content: flex-start;
  width: 400px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  border-radius: 5px;
}

iframe {
  border-radius: 5px;
}

.ajuste1 {
  margin-top: 340px;
}

.ajuste2 {
  margin-top: 80px;
  margin-left: 600px;
}

.flex {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
@keyframes goup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200px);
  }
}
.box_a {
  background-color: #2bb3ed;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  justify-content: center;
  text-align: justify;
  background-image: url(Resources/estadio1b.jpeg);
  background-position: bottom;
  background-size: cover;
  flex-direction: row;
  justify-content: flex-start;
  color: #fcfcfc;
  margin-top: 10px;
  height: 300px;
  width: 100%;
  view-timeline: --image;
  view-timeline: block;
  animation-timeline: --image;
  animation-name: goup;
  animation-range: cover 70%;
  animation-fill-mode: both;
}

#emailHelp {
  color: #fcfcfc;
}

.modal-header img {
  height: 50px;
}

.form-control {
  width: 100px;
}

.modal-body {
  background-image: url(Resources/fondobp.png);
  background-size: cover;
  color: #fcfcfc;
}

.btn-primary {
  background-color: #f49701 !important;
  border-color: #dc8d0d !important;
}

/*------------------------------------------------------------------------------------------*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  background-color: #fcfcfc;
  padding: 10px 15px;
  margin-top: 10px;
}

.footerimg {
  margin-top: 10px;
  width: 100%;
}

.fila {
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.objeto-ft {
  margin: 5px;
}

.boxtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 6;
  padding: 20px;
  text-align: justify;
}

.boxtext.b {
  color: #fcfcfc;
}

.boxtext.c {
  margin-top: 10px;
  margin-left: 20px;
  background-color: #2f6a9d;
  color: #fcfcfc;
  border-radius: 5px;
  width: 550px;
}

.boxtext.f {
  height: 200px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.459);
  color: #fcfcfc;
  border-radius: 30px;
}

.boxtext.g {
  height: 280px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.459);
  color: #fcfcfc;
  border-radius: 30px;
}

.boxtext.e {
  width: 900px;
  height: 302px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.459);
  color: #fcfcfc;
  border-radius: 30px;
}/*# sourceMappingURL=nosotros.css.map */