$color_l: #fcfcfc;
$color_m: #9cd4f7;
/*------------------------------------------------------------------------------------------*/
body {
    background-image: url(Resources/longbg.jpg  );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}