/*------------------------------------------------------------------------------------------*/
$color_l: #fcfcfc;
$color_m: #65b0c3;
$color_d: #2f6a9d;
/*------------------------------------------------------------------------------------------*/
