@import "flex";
@mixin ObjetoMg {
    margin: 5px;
}
@mixin Bg-style($background){
    background-color: $background;
    border-radius: 15px;
}
/*------------------------------------------------------------------------------------------*/
$bgcol: #fcfcfc;
$bgcol2:#cdeafc;
/*------------------------------------------------------------------------------------------*/
img {
    height: 100%;
}
header {
    background-color: $bgcol;
    position: fixed;
    object-fit: cover;
    height: 100px;
    width: 100%;
    z-index: 100;
    align-items: center;
}
nav{
    background-color: $bgcol;
    position: fixed;
    object-fit: cover;
    height: 100px;
    width: 100%;
    z-index: 100;
    
}
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#navbarToggleExternalContent {
    max-height: 100px;
    overflow: hidden;
  }
.navbar-toggler {
    object-fit: cover;
    height: 88px;
    transition: transform 0.3s ease;
}
.navbar-toggler:hover {
    transform: scale(1.1);
}
.collapse {
    background-color: $bgcol;
    justify-content: center;
}
.fila {
    @include Flex-use(flex,row);
    height: 80px;
    padding-bottom: 10px;
}
.fila img {
    height: 100%;
}
.objeto-nav.b {
    @include ObjetoMg();
    @include Bg-style($bgcol2);
    border-radius: 50px;
}
.objeto-nav.c {
    @include ObjetoMg();
    transition: transform 0.3s ease;
}
.objeto-nav.c:hover {
    transform: scale(1.1);
}
@keyframes scroll2 {
    from {
        opacity: 1;
        scale: 100%;
    }
    to {
        opacity: 0;
        scale: 100%;
    }
}

.scroll-image2 {
    margin-top: 100px;
    width: 100%;
    view-timeline: --image;
    view-timeline: block;

    animation-timeline: --image;
    animation-name: scroll2;
    animation-range: cover 75%;
    animation-fill-mode: both;
}