@import "flex";
@mixin ObjetoMg {
    margin: 5px;
}
@mixin Bg-style($background){
    background-color: $background;
    border-radius: 15px;
}
/*------------------------------------------------------------------------------------------*/
$bgcol: #fcfcfc;
$bgcol2:#cdeafc;
/*------------------------------------------------------------------------------------------*/
img {
    height: 100%;
    border-radius: 15px;
}
header {
    background-color: $bgcol;
}
nav{
    background-color: $bgcol;
    position: fixed;
    object-fit: cover;
    height: 100px;
    z-index: 100;
}
.collapse {
    background-color: $bgcol;
    justify-content: center;
}
.fila {
    @include Flex-use(flex,row);
    height: 90px;
}
.fila img {
    height: 100%;
}
.objeto-nav.b {
    @include ObjetoMg();
    @include Bg-style($bgcol2);
    border-radius: 15px;
}
.objeto-nav.c {
    @include ObjetoMg();
    transition: transform 0.3s ease;
}
.objeto-nav.c:hover {
    transform: scale(1.1);
}