/*------------------------------------------------------------------------------------------*/
$color_l: #fcfcfc;
$color_ld: #d2ecef;
$color_m: #2bb3ed;
$color_d: #2f6a9d;
/*------------------------------------------------------------------------------------------*/
@mixin Box-use($bg) {
    background-color: $bg;
    @include Flex-use(flex,column);
    gap: 50px;
    object-fit: cover;
    padding: 10px;
    justify-content: center;
    text-align: justify;
}
@mixin animate($cover) {
    view-timeline: --image;
    view-timeline: block;

    animation-timeline: --image;
    animation-name: goup;
    animation-range: cover $cover;
    animation-fill-mode: both;
}
@keyframes goup {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-200px);
    }
}
.box_panel {
    @include Box-use($color_m);
    background: rgba(255, 255, 255, 0.092);
    margin-top: -146px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 250px;
    color: $color_l;
    height: 155px;
    width: 100%;
    @include animate(70%);
}
#emailHelp {
    color: $color_l;
}
.row {
    display: flex;
    flex-direction: row;
}
.row2 {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.35);
    justify-content: space-around;
    border-radius: 5px;
}
.colum {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.35);
    justify-content: space-around;
    border-radius: 5px;
    padding: 5px;
}
table{
    margin-top: -9px;
}
.modal-header img{
    height: 50px;
}
.form-control{
    width: 100px;
}
#exampleModal .modal-body{
    background-image: url(Resources/fondobp.png);

    background-size: cover;
    color: $color_l;
}
#exampleModal .btn-primary {
    background-color: #f49701 !important;
    border-color: #dc8d0d !important;
}
#exampleModal2 .modal-body{
    background-image: url(Resources/fondobp4.png);
    background-position: 10% ;
    background-size: cover;
    color: $color_l;
}
#exampleModal2 .btn-primary {
    background-color: #01a3f4 !important;
    border-color: #0d7bdc !important;
}
#exampleModal2 input {
    background-color: rgba(255, 255, 255, 0.3) !important; 
    border: 1px solid rgba(255, 255, 255, 0.816) !important;
    color: rgba(255, 255, 255, 0.8) !important;
}
#exampleModal2 select {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border: 1px solid rgba(255, 255, 255, 0.816) !important;
    color: rgba(255, 255, 255, 0.8) !important;
}
